.my-animation::after{
    content: '';
    animation-name: bannerTyping;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-fill-mode: initial;
}
@keyframes bannerTyping{
  0%{content: '|'}
  3%{content: 'r. |'}
  6%{content: 'r. We|'}
  12%{content: 'r. Web|'}
  18%{content: 'r. Web D|'}
  24%{content: 'r. Web De|'}
  30%{content: 'r. Web Dev|'}
  36%{content: 'r. Web Deve|'}
  42%{content: 'r. Web Devel|'}
  48%{content: 'r. Web Develo|'}
  54%{content: 'r. Web Develo|'}
  60%{content: 'r. Web Develop|'}
  76%{content: 'r. Web Develope|'}
  72%{content: 'r. Web Developer|'}
  

  88%{content: 'r. Web Develope|'}
  89%{content: 'r. Web Develop|'}
  90%{content: 'r. Web Develo|'}
  91%{content: 'r. Web Devel|'}
  92%{content: 'r. Web Deve|'}
  93%{content: 'r. Web Dev|'}
  94%{content: 'r. Web De|'}
  95%{content: 'r. Web D|'}
  96%{content: 'r. Web|'}
  97%{content: 'r. We|'}
  98%{content: 'r. W|'}
  98%{content: 'r.|'}
  100%{content: '|'}
}